body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d0036;
    font-family: Arial;
}

/* Calculator container */
.calculator {
    width: 300px;
    border-radius: 25px;
    overflow: hidden;
    background: linear-gradient(180deg, #b565d9, #7a1fa2);
}

/* Display */
.display {
    height: 180px;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.history {
    font-size: 20px;
}

.result {
    font-size: 40px;
    font-weight: bold;
}

/* Buttons area */
.buttons {
    background: #e5e5e5;
    border-radius: 25px 25px 0 0;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Button style */
button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
}

/* Operator color */
.operator {
    color: purple;
    font-weight: bold;
}

/* Equal button */
.equal {
    grid-row: span 2;
    background: transparent;
    color: purple;
    font-size: 24px;
}

button:hover {
    background: rgba(0,0,0,0.1);
}